.form {
  display: grid;
  flex-direction: column;
  gap: 10px;
}

.inputHead {
  color: #36384d;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.error {
  color: #ff464a;
}

.input,
.subButton,
.subActiveButton {
  border-radius: 8px;
  height: 55px;
  font-size: 16px;
}

.input {
  border: solid 1px #b7b5ba;
  box-sizing: border-box;
  padding: 25px;
}

.input:focus {
  outline: solid 1px #23203e;
}

.subButton,
.subActiveButton {
  cursor: pointer;
  color: white;
  border: none;
  font-weight: bold;
  margin-top: 15px;
  background-color: #252242;
}

.subActiveButton {
  background: linear-gradient(0.25turn, #ff5478, #ff693e);
  box-shadow: -10px -5px 25px -10px #ff5478, 10px 5px 25px -10px #ff693e
}