.wrap {
  /* border: solid 1px darkmagenta; */
  /* width: 400px; */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputHead {
  color: #23203e;
  font-size: 12px;
  font-weight: bold;
}

.input,
.subButton {
  border-radius: 10px;
  height: 55px;
  font-size: 15px;
}

.input {
  color: #b7b5ba;
  border: solid 1px #b7b5ba;
  box-sizing: border-box;
  padding: 25px;
}

.subButton {
  background-color: #252242;
  color: white;
  border: none;
  font-weight: bold;
  margin-top: 15px;
}
