.App {
  background-color: #36384d;
  height: 100vh;
  border: solid 2px orange;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: solid 2px green;
  width: 1200px;
  height: 800px;
}

.left-side {
}
