.App {
  background-color: #36384d;
  height: 100vh;
  /* border: solid 2px orange; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  border-radius: 35px;
  width: 929px;
  /* height: 600px; */

  display: flex;
  justify-content: space-between;
  padding: 21px;
  box-sizing: border-box;
}

.left-side {

}

.form {

}

.textHeader {

}
